<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
</head>

<body>
    <div id='app'>
        <h2>影像范围计算网格</h2>
        <div>上传影像shp 或</div>
        <div>geojson文件服务器路径：<input type="text" v-model="d.geojsonurl"> 类型：<input type="text" v-model="d.geojsonType">
            <button @click="startTasksByJsonUrl">按json计算格网</button>
        </div>


        <h2>网格变化任务提交</h2>
        <!-- <div> {{d.batches}} <button @click="getBatches">检索批次号</button> </div> -->
        <br>
        批次编号
        <el-select v-model="d.taskparams" placeholder="请选择">
            <el-option v-for="item in d.batches" :key="item" :label="item" :value="item">
            </el-option>
        </el-select>
        <el-button @click="startTasksByBatch" type="danger">执行批次图斑提取任务</el-button>
        <!-- <div>批次号：<input type="text" v-model="d.taskparams">
            <el-button @click="startTasksByBatch">启动所选批次任务</el-button>
        </div> -->
        <br>

        <br>
        <el-button @click="search" type="primary">任务查询</el-button>
        {{d.total}}
        <br>
        <h3>进行中任务</h3>
        <el-table :data="d.processingTasks" style="width: 100%">
            <el-table-column prop="previousFilename" label="前影像">
            </el-table-column>
            <el-table-column prop="filename" label="后影像">
            </el-table-column>
            <el-table-column prop="shp" label="shp文件" width="280">
            </el-table-column>
            <el-table-column label="操作" width="130">
                <template #default="scope">
                    <el-button size="mini" @click="getProcessingStatus(scope.row)">查看任务状态</el-button>

                </template>
            </el-table-column>
        </el-table>
        <!-- <div v-for="task in d.processingTasks" :key="task.id">
            <div>前影像：{{task.previousFilename}} </div>
            <div>后影像：{{task.filename}}</div>
            <div>shp文件：{{task.shp}}</div>
            <div>{{task.info}}</div>
            <button @click="getProcessingStatus(task)">查看任务状态</button>
        </div> -->
        <h3>待处理任务</h3>
        <el-table :data="d.tasks" style="width: 100%">
            <el-table-column prop="previousFilename" label="前影像">
            </el-table-column>
            <el-table-column prop="filename" label="后影像">
            </el-table-column>
            <el-table-column prop="shp" label="shp文件" width="280">
            </el-table-column>
            <el-table-column label="操作" width="130">
                <template #default="scope">
                    <el-button size="mini" @click="startTaskById(scope.row._id)">开始任务</el-button>

                </template>
            </el-table-column>
        </el-table>
        <!-- <div v-for="task in d.tasks" :key="task.id">
            <div>前影像：{{task.previousFilename}} </div>
            <div>后影像：{{task.filename}}</div>
            <div>shp文件：{{task.shp}}</div> <button @click="startTaskById(task._id)">开始任务</button>
        </div> -->
        <h3>已完成任务</h3>
        <el-table :data="d.processedTasks" style="width: 100%">
            <el-table-column prop="previousFilename" label="前影像">
            </el-table-column>
            <el-table-column prop="filename" label="后影像">
            </el-table-column>
            <el-table-column prop="shp" label="shp文件" width="280">
            </el-table-column>
            <el-table-column label="操作" width="130">
                <template #default="scope">
                    <el-button size="mini" @click="getProcessingStatus(scope.row)">查看任务状态</el-button>

                </template>
            </el-table-column>
        </el-table>
        <p>
            <el-button @click="clear" type="warning">重置数据库（谨慎）</el-button>

        </p>
        <!-- <div>{{d.node}}</div> -->

    </div>
    <script>
        // const apiurl = "http://localhost:3006/api/"
        // const apiurl_server = "http://172.16.100.120:3006/api/"
        const apiurl = `${location.protocol}//${location.hostname}:3006/api/`
        const api = axios.create({
            baseURL: apiurl,
            timeout: 15000,
        });
        const { createApp, ref, reactive, onMounted } = Vue;
        const App = createApp({
            setup() {
                const d = reactive({
                    batches: [],
                    taskparams: "",
                    taskparams: "",
                    geojsonurl: "/ali_data/meta/202101.geojson",
                    geojsonType: "biaozhun",
                    tasks: [],
                    processingTasks: [],
                    processedTasks: [],
                    total: ""
                    // node:process.env.NODE_ENV === "production"
                })
                async function search() {
                    let tasks = await api.get("tasks")
                    d.tasks = tasks.data.data.filter(task => task.status === "init")
                    d.processingTasks = tasks.data.data.filter(task => task.status === "processing")
                    d.processedTasks = tasks.data.data.filter(task => task.status === "processed")
                    d.total = `处理中任务${d.processingTasks.length}, 待处理任务${d.tasks.length}, 已完成任务${d.processedTasks.length}`
                }
                onMounted(() => {
                    search()
                    getBatches()
                })
                async function getBatches() {
                    let res = await api.get("taskbatch")
                    d.batches = res.data.data
                }
                async function getProcessingStatus(task) {
                    let session_id = task.shp
                    let res = await api.get("task?session_id=" + session_id)
                    ElementPlus.ElNotification({ title: '任务状态', message: res.data.msg, type: "success" })
                }
                async function startTasksByBatch() {
                    let q = {
                        batch: d.taskparams,
                        status: 'init'
                    }
                    let tasks = await api.post("tasks", { params: q })
                }
                function startTasksByJsonUrl(params) {
                    let q = {
                        url: d.geojsonurl,
                        type: d.geojsonType
                    }
                    api.post("geojsonurl", q)
                }

                async function startTaskById(_id) {
                    let q = {
                        _id
                    }
                    let tasks = await api.post("tasks", { params: q })
                }
                async function clear() {

                    let tasks = await api.delete("tasks")
                }
                return {
                    d,
                    search,
                    getBatches,
                    startTasksByBatch,
                    startTasksByJsonUrl,
                    startTaskById,
                    getProcessingStatus,
                    clear
                }
            }
        })
        App.use(ElementPlus)
        App.mount('#app')
    </script>
</body>

</html>