<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios"></script>
</head>

<body>
    <div id='app'>
        <h2>影像范围计算网格</h2>
        <div>上传影像shp</div>
        <div>或者复制geojson文件</div>
        <div>选择类型</div>


        <h2>网格变化任务提交</h2>
        <div> {{d.batches}} <button @click="getBatches">检索批次号</button> </div>
        <br>
        <div>批次号：<input type="text" v-model="d.taskparams"> <button @click="startTasksByBatch">启动本批次任务</button> </div>
        <br>
        <div>geojson文件路径：<input type="text" v-model="d.geojsonurl"> 类型：<input type="text" v-model="d.geojsonType">
            <button @click="startTasksByJsonUrl">启动本json任务</button>
        </div>
        <br>
        <button @click="search">查询所有任务</button>

        <br>
        <div v-for="task in d.tasks" :key="task.id">
            <div>前影像：{{task.previousFilename}} </div>
            <div>后影像：{{task.filename}}</div>
            <div>shp文件：{{task.shp}}</div> <button @click="startTaskById(task._id)">开始任务</button>
        </div>
        <p>
            <button @click="clear">重置数据库（谨慎）</button>

        </p>
        <!-- <div>{{d.node}}</div> -->

    </div>
    <script>
        // const apiurl = "http://localhost:3006/api/"
        // const apiurl_server = "http://172.16.100.120:3006/api/"
        const apiurl = `${location.protocol}//${location.hostname}:3006/api/`
        const api = axios.create({
            baseURL: apiurl,
            timeout: 15000,
        });
        const { createApp, ref, reactive } = Vue;
        const App = createApp({
            setup() {
                const d = reactive({
                    batches: [],
                    taskparams: "",
                    taskparams: "",
                    geojsonurl: "",
                    geojsonType: "biaozhun",
                    tasks: []
                    // node:process.env.NODE_ENV === "production"
                })
                async function search() {
                    let tasks = await api.get("tasks")
                    d.tasks = tasks.data.data
                }
                async function getBatches() {
                    let res = await api.get("taskbatch")
                    d.batches = res.data.data
                }
                async function startTasksByBatch() {
                    let q = {
                        batch: d.taskparams
                    }
                    let tasks = await api.post("tasks", { params: q })
                }
                function startTasksByJsonUrl(params) {
                    let q = {
                        url: d.geojsonurl,
                        type: d.geojsonType
                    }
                    api.post("geojsonurl", q)
                }

                async function startTaskById(_id) {
                    let q = {
                        _id
                    }
                    let tasks = await api.post("tasks", { params: q })
                }
                async function clear() {

                    let tasks = await api.delete("tasks")
                }
                return {
                    d,
                    search,
                    getBatches,
                    startTasksByBatch,
                    startTasksByJsonUrl,
                    startTaskById,
                    clear
                }
            }
        })
        App.mount('#app')
    </script>
</body>

</html>